/*filename: styles.css*/

body {
    background: #202020;
    color: white;
    margin: 2em;
}

fieldset {
    margin: 1em 0;
    padding: 1em;
}

h2 {
    margin-top: -5px;
}

h3 {
    margin-top: -5px;

.ability-score-generation-method {
    display: block;
}}

.basic-info {
    display: block;
    text-align: left;
    margin: 1em;
}

.bordered {
    border: 2px solid #303030;
}


.inline {
    display: inline;
}

.substep {
    margin: 20px;
    border: 2px solid #303030;
    padding: 1em;
    padding-top: 10px;
}

.flex {
    display: flex;
    width: 90%;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border: none;
    margin: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.ability-scores {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
    justify-items: center;

    border: 3px solid white;
    margin: 50px auto;
}

.ability-score-method {
    align-items: center;
    justify-content: space-between;r
}r

.small-print {
    font-size: .8rem;
    font-style: italic;
}
